<% layout('layout') -%>
<div class="row btn-group">
<a class="btn btn-info" href="/suppliers">Suppliers</a>
<a class="btn btn-primary" href="/suppliers/<%= item._id %>/edit">Edit Supplier...</a>
<a class="btn btn-danger" href="/suppliers/<%= item._id %>/remove">Delete Supplier...</a>
</div>
<div class='row'>
    <table class="table-striped table-bordered">
        <tr>
            <td>Name</td>
            <td><%= item.name %></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><%= item.address %></td>
        </trger
    </table>
</form>
</div>