<% layout('layout') -%>

<div class="row btn-group">
<a class="btn btn-primary" href="/suppliers/new">New Supplier...</a>
</div>
<div class="row">
<table class="table-striped table-bordered">
    <tr>
        <th>&nbsp;</th>
        <th>Name</th>
        <th>Address</th>
    </tr>
<% items.forEach(function (item) { %>
    <tr>
        <td><a href="/suppliers/<%= item._id %>">View...</a></td>
        <td><%= item.name %></td>
        <td><%= item.address %></td>
    </tr>
<% }); %>
</table>
</div>